---
import Layout from './layouts/Layout.astro'
---

<Layout title='Typing Game'>
  <main>
    <h1>Typing Game</h1>
    <section id='game'>
      <time></time>
      <p></p>
      <input autofocus />
    </section>
  </main>
</Layout>

<script>
  import { words as INITIAL_WORDS } from './store/data.js'

  const time = document.querySelector('time')
  const paragraph = document.querySelector('p')
  const input = document.querySelector('input')

  const INITIAL_TIME = 30

  let words = []
  let currentTime = INITIAL_TIME

  startGame()

  function startGame() {
    words = [...INITIAL_WORDS]
    currentTime = INITIAL_TIME
    words = INITIAL_WORDS.toSorted(() => Math.random() - 0.5).slice(0, 50)
    currentTime = INITIAL_TIME

    time.textContent = currentTime

    paragraph.innerHTML = words
      .map((word, index) => {
        const letters = word.split('')

        return `<word>
        ${letters.map((letter) => `<letter>${letter}</letter>`).join('')}
      </word>
      `
      })
      .join('')
  }
</script>
